<md-toolbar class="" md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-menu>
            <md-button class="md-icon-button" aria-label="Settings" ng-click="openMenu($mdOpenMenu,$event)">
                <md-icon>menu</md-icon>
                <span class="navbar-new">{{userConfig.goodsLength}}</span>
            </md-button>
            <md-menu-content width="3">
                <!--<md-menu-item ng-repeat="item in homebar">-->
                    <!--<md-button ui-sref="{{item.goState}}" >-->
                        <!--<md-icon aria-label="{{item.name}}">{{item.icons}}</md-icon>{{item.name}}-->
                    <!--</md-button>-->
                <!--</md-menu-item>-->
                <md-menu-item>
                    <md-button class="md-primary" ui-sref="toolbar.index">
                        <md-icon aria-label="主页">home</md-icon>主页
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-primary" ui-sref="toolbar.states">
                        <md-icon aria-label="购物车">more_horiz</md-icon>购物车
                        <span class="badge pull-right">{{userConfig.goodsLength}}</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-primary" ui-sref="toolbar.commodity">
                        <md-icon aria-label="订单">shopping_cart</md-icon>订单
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!--logo-->
        <div class="logo" ui-sref="toolbar.index">
            <md-fab-speed-dial  md-direction="right" ng-class="" md-open="triggers.isOpen" class="md-fling md-hover-full" ng-class=""
                                ng-mouseenter="triggers.isOpen=true" ng-mouseleave="triggers.isOpen=false">
                <md-fab-trigger class="" >
                    <img ng-src="./img/ff.png" />
                </md-fab-trigger>
                <md-fab-actions>
                    <!-- 1 -->
                    <!--<div ng-repeat="item in homebar">-->
                        <!--<md-button class="md-fab md-raised md-mini">-->
                            <!--<a ng-href="{{item.goState}}">-->
                                <!--<md-tooltip md-direction="{{item.direction}}" md-visible="triggers.hover">{{item.name}}</md-tooltip>-->
                                <!--<md-icon aria-label="{{item.name}}" class="">{{item.icons}}</md-icon>-->
                            <!--</a>-->
                        <!--</md-button>-->
                    <!--</div>-->

                    <!-- 2 -->
                    <!--<md-button class="md-fab md-raised md-mini">-->
                        <!--<a ui-sref="toolbar.index">-->
                            <!--<md-tooltip md-direction="bottom" md-visible="triggers.hover">主页</md-tooltip>-->
                            <!--<md-icon>home</md-icon>-->
                        <!--</a>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-fab md-raised md-mini">-->
                        <!--<a ui-sref="toolbar.states">-->
                            <!--<md-tooltip md-direction="top" md-visible="triggers.hover">购物车</md-tooltip>-->
                            <!--<md-icon>more_horiz</md-icon>-->
                        <!--</a>-->
                    <!--</md-button>-->
                    <!--<md-button class="md-fab md-raised md-mini">-->
                        <!--<a ui-sref="toolbar.commodity">-->
                            <!--<md-tooltip md-direction="bottom" md-visible="triggers.hover">订单</md-tooltip>-->
                            <!--<md-icon>shopping_cart</md-icon>-->
                        <!--</a>-->
                    <!--</md-button>-->
                </md-fab-actions>
            </md-fab-speed-dial>

            <!--<img src="./img/ff.png" aria-label="logo">-->
        </div>
        <div flex layout layout-align="start center">
            <!--<md-chips ng-model="seachs.seach" flex-offset="25" class="md-primary" md-separator-keys="seachs.keys" placeholder="查询一个新的标签或者使用记忆标记" secondary-placeholder="查询一个目标并获得一个标记">
            </md-chips>-->
            <!-- autocomplete -->
            <div layout="row" flex-offset="5" flex="45" class="">
                <md-autocomplete placeholder="开启您的搜索之旅" flex style="margin-top:4px"
                                 md-selected-item="self.selectedItem"
                                 md-selected-item-change="self.selectedItemChange(item)"
                                 md-search-text="self.searchText"
                                 md-search-text-change="self.searchTextChange(self.searchText)"
                                 md-items="item in self.querySearch(self.searchText)"
                                 md-item-text="item.name" md-min-length="0">
                    <!--
                        md-selected-item:选中的对象
                        md-selected-item-change:更改后的对象
                        md-search-text:搜索关键字的KEY
                        md-search-text-change:更改后的KEY
                        md-items:列表
                        md-item:选中的item
                    -->
                    <md-item-template>
                        <div layout="row" layout="center center" >
                            <div layout="column" layout="center center">
                                <img lazy-img="{{item.img}}" ng-src="{{item.img}}" alt="稍后" class="md-avatar" height="100%" width="48px"/>
                            </div>
                            <div flex >
                                <span md-highlight-text="self.searchText" md-highlight-flags="^i">{{item.name}}</span>
                                <span >喜欢人数:{{item.like}}</span>
                                <span >收藏人数:{{item.collect}}</span>
                                <span  class="pull-right">购买</span>
                            </div>
                        </div>
                    </md-item-template>
                    <md-not-found ng-click="newState(self.searchText)">
                        目前还没有这款商品,你可以点击<md-button ng-click="self.newState(self.searchText)" >我想要"{{self.searchText}}"</md-button>,告诉我们
                    </md-not-found>
                </md-autocomplete>
                <md-button  class="md-icon-button pull-right pointer" style="margin-left:5px;" ng-click="removeCookie()">
                    <md-icon md-font-icon="" class="material-icon">search</md-icon>
                </md-button>
            </div>
            <div flex flex-offset="2" layout="row" layout-algin="end center" class="header-right">
                <!--<md-button>asdasd</md-button>-->
            </div>
        </div>
    </div>
</md-toolbar>
<ui-view></ui-view>