/*
    辅助类

*/
  /* color */
.bg-test {
    background-color: #2196f3;
}
.text-warn{
    color:#FF2825;
}
.text-accent{
    color: #FFDC63;
}
input[type='search'],.text-primary{
    color:#2196f3 !important;
}
.text-default{
    color: rgba(0,0,0,0.26) !important;
}
.md-input-focused>md-icon.text-default{
    color: rgb(33, 150, 243) !important;
}
.md-input-focused.md-input-invalid>md-icon.text-default{
    color:#F44336 !important;
}
label{
    margin-bottom: 0;
    line-height: 1.3;
}
/* user */
.pointer{
    cursor: pointer;
}
/* length */
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.half-height{
    height: 50%;
}
/* leave*/
md-list{
    padding:0;
}
md-list-item{
    padding:0 2%;
}
.mg-top{
    margin-top: 2%;
}
.pd-fix{
    padding-left:0 !important;
    padding-right: 0 !important;
}
.laypt-fix{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
@media (max-width: 1200px) {
    .laypt-fix{
        padding-left: 0 !important;
    }
}
/*
    text
*/
.sub-str{
    font-size:.8em;
}
.sub-lg{
    font-size:1.2em;
}
/*
    animate
*/
.logo,
.nav-list-item,
.nav-list-item .md-icons,
.nav-list-item p,
nav .sub-nav .title,
md-list.rank md-list-item,
nav .sub-nav:hover .sub-nav-title,
md-divider,
nav .sub-nav .sub-nav-help
{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.margin-center{
    margin: auto !important;
}
md-divider{
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
nav .sub-nav .sub-nav-help{
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.transition{
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.transform{
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    -ms-transform: translate(0, -100px);
    -o-transform: translate(0, -100px);
    transform: translate(0, -100px);
}

/*
    position
*/
.pt-rla{
    position: relative;
}
.pt-ab{
    position: absolute;
    z-index: 999;
}

/*
    divier
*/
md-divider.divider{
    width: 80%;
    border:1px dashed #2196f3;
}
.md-headline{
    font-size: 18px;
}
.bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;
}
.rn-carousel-control.rn-carousel-control-prev,
.rn-carousel-control.rn-carousel-control-next {
    margin-top: 20%;
    font-size: 2.2em;
}
.carousel{
    /*overflow: hidden !important;*/
}